.header .form-search { width: 216px; }
.header .form-search input.input-text { width: 162px; }

.products-grid button.btn-cart span { width: 58px; }
.product-view .product-img-box .more-views li a { width: 80px; height: 80px; }